.container {
  max-width: 150px;
  width: 100%;
  text-align: center;
  max-width: 100px;
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
  background-color: rgb(211, 211, 211);
}
